* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0f172a;
  color: white;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  /* display: grid; */
  gap: 20px;
  padding: 2rem;
}

.card {
  margin: 2rem auto;
  max-width: 800px;
  background: #020617;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid #334155;
  box-shadow: 0 0 10px #00000050;
}

pre {
  background: #020617;
  padding: 10px;
  border-radius: 8px;
  border: 1px dashed #334155;
  color: #38bdf8;
  overflow-x: auto;
  margin-top: 10px;
}

.result-box {
  margin-top: 10px;
  padding: 10px;
  background: #020617;
  border-radius: 8px;
  border: 1px solid #22c55e;
  color: #22c55e;
  font-weight: bold;
}
